* {
  box-sizing: border-box;
  background-color: antiquewhite;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.controller-container {
  position: relative;
  display: inline-block;
}

.controller {
  height: 55rem;
}

button {
  position: absolute;
  border: 3px solid black;
  color: white;
  padding: 5px 10px;
  font-size: 0.8rem;
}

button:hover {
  transform: scale(1.1);
}

.fight-button {
  background-color: blue;
  border-radius: 90%;
  height: 34px;
  width: 35px;
  top: 416px;
  left: 568px;
}

.gather-button {
  background-color: green;
  border-radius: 90%;
  height: 34px;
  width: 35px;
  top: 431px;
  left: 522px;
}

.rest-button {
  background-color: rgb(251, 251, 67);
  border-radius: 90%;
  height: 34px;
  width: 35px;
  top: 477px;
  left: 537px;
  color: green;
}

.craft-button {
  background-color: red;
  border-radius: 90%;
  height: 34px;
  width: 35px;
  top: 461px;
  left: 583px;
}

.first-loop {
  background-color: rgb(99, 98, 98);
  top: 451px;
  left: 376px;
  width: 58px;
  height: 47px;
}

.sec-loop {
  background-color: rgb(99, 98, 98);
  top: 451px;
  left: 438px;
  width: 58px;
  height: 47px;
}

.up-button {
  background-color: rgb(99, 98, 98);
  top: 408px;
  left: 286px;
  width: 33px;
  height: 33px;
}

.down-button {
  background-color: rgb(99, 98, 98);
  top: 470px;
  left: 286px;
  width: 33px;
  height: 33px;
}

.left-button {
  background-color: rgb(99, 98, 98);
  top: 439px;
  left: 255px;
  width: 33px;
  height: 33px;
}

.right-button {
  background-color: rgb(99, 98, 98);
  top: 439px;
  left: 318px;
  width: 33px;
  height: 33px;
}

.chicken-button {
  background-color: rgb(99, 98, 98);
  width: 45px;
  height: 32px;
  top: 413px;
  left: 390px;
  text-align: center;
}
.mining-button {
  background-color: rgb(99, 98, 98);
  width: 45px;
  height: 32px;
  top: 413px;
  left: 435px;
}

.info-box {
  position: absolute;
  top: 117px;
  left: 382px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  width: 200px;
  height: 150px;
}

.info-box p {
  margin: 5px 0;
  color: grey;
  height: 35px;
}
